<div class="certificado-card" (click)="onCardClick()">
  <div class="card-image">
    <img [src]="imageUrl" *ngIf="imageUrl" alt="{{ title }}">
    <span class="favorite">Favorito entre estudiantes</span>
  </div>

  <div class="card-content">
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <p *ngIf="price">{{ price | currency: 'COP' }} por certificado</p>
    <p *ngIf="!price">Gratuito</p>
  </div>

  <div class="card-rating">
    <span class="rating-star">★</span>
    <span>{{ rating }}</span>
  </div>
</div>