<div class="father">
  <div class="container">
    <!-- Navegación de categorías -->
    <nav class="categories" *ngIf="!showValidationForm && !showSuccessMessage && !showCareerInfo">
      <div class="category-item" (click)="onCategoryClick('certificates')">
        <fa-icon [icon]="['fas', 'certificate']"></fa-icon> Certificados
      </div>
      <div class="category-item" (click)="onCategoryClick('diplomas')">
        <fa-icon [icon]="['fas', 'award']"></fa-icon> Diplomas
      </div>
      <div class="category-item" (click)="onCategoryClick('careers')">
        <fa-icon [icon]="['fas', 'graduation-cap']"></fa-icon> Carreras
      </div>
      <div class="category-item" (click)="onCategoryClick('diplomados')">
        <fa-icon [icon]="['fas', 'book']"></fa-icon> Diplomados
      </div>
      <div class="category-item" (click)="onCategoryClick('notas')">
        <fa-icon [icon]="['fas', 'clipboard']"></fa-icon> Notas y más
      </div>
      <div class="category-item" (click)="onCategoryClick('teatro')">
        <fa-icon [icon]="['fas', 'theater-masks']"></fa-icon> Teatro
      </div>
      <div class="category-item" (click)="onCategoryClick('nivelatorio')">
        <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon> Nivelatorios
      </div>
      <div class="category-item" (click)="onCategoryClick('asesorias')">
        <fa-icon [icon]="['fas', 'user-graduate']"></fa-icon> Asesorías
      </div>
      <div class="category-item" (click)="onCategoryClick('convenios')">
        <fa-icon [icon]="['fas', 'handshake']"></fa-icon> Renovación de convenios
      </div>
    </nav>
  </div>
</div>

<div class="container-card" *ngIf="!showValidationForm && !showSuccessMessage && !showCareerInfo">
  <app-certificado-card
    *ngFor="let card of cards"
    [title]="card.title"
    [description]="card.description"
    [price]="card.price"
    [rating]="card.rating"
    [imageUrl]="card.imageUrl"
    (cardSelected)="onCardSelected(card)">
  </app-certificado-card>
</div>

<div *ngIf="showValidationForm" class="centered-container">
  <app-certificate-validation (back)="onBack()" (submit)="onSubmit()"></app-certificate-validation>
</div>

<div *ngIf="showSuccessMessage" class="centered-container">
  <div class="success-message">
    <h2>¡Su pedido ha sido aceptado exitosamente!</h2>
    <p>Gracias por su compra. Recibirá un correo electrónico con los detalles de su pedido.</p>
    <button (click)="onBack()">Volver al Dashboard</button>
  </div>
</div>

<div *ngIf="showCareerInfo" class="centered-container">
  <app-career-info [career]="selectedCareer" (back)="onBack()"></app-career-info>
</div>